@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  cursor: none;
  background-color: #ffffff; /* white background */
  color: #000000;            /* black text */
  background-image:
    linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 11px 11px; /* grid spacing */
}


